<h1>Bill Lookup</h1>

<form>
  <div class="form-group">
    <label for="bill">Bill</label>
    {{input value=bill id="bill"}}
  </div>

  <button class="btn btn-primary" {{action 'billLookup'}}>Submit</button>
</form>
