
<h2>Bill Search Results</h2>
<ul>
  {{#each model as |bill|}}
    {{bill-detail bill=bill}}
  {{/each}}
</ul>


<!-- : {{bill.official_title}} <a href= {{bill.last_version.urls.html}}>Read Mo</a></li> -->
